
# Basic/.vs 
Basic/.vs/

# Basic/x64
Basic/x64/

# Basic/main/x64
Basic/main/x64

# OnlineJudge/.vs
OnlineJudge/.vs

# OnlineJudge/x64
OnlineJudge/x64

# OnlineJudge/main/x64
OnlineJudge/main/x64

# pdf files
pdf/