
# Basic/Basic
Basic/Basic.sln
Basic/main/main.vcxproj
Basic/main/main.vcxproj.filters
Basic/main/main.vcxproj

# Basic/.vs 
Basic/.vs/

# Basic/x64
Basic/x64/

# Basic/main/x64
Basic/main/x64

# OnlineJudge/OnlineJudge
OnlineJudge/OnlineJudge.sln

# OnlineJudge/main
OnlineJudge/main/main.vcxproj
OnlineJudge/main/main.vcxproj.filters
OnlineJudge/main/main.vcxproj.user

# OnlineJudge/.vs
OnlineJudge/.vs

# OnlineJudge/x64
OnlineJudge/x64

# OnlineJudge/main/x64
OnlineJudge/main/x64

# pdf files
pdf/